.page-link {
    position: relative;
}

.page-link::after {
    position: absolute;
    bottom: 2px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #333;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.page-link.active::after {
    bottom: -4px;
    opacity: 1;
    visibility: visible;
}